body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.legend {
  background-color: floralwhite;
  padding: 10px;
  border-radius: 5px;
}

.legend-item {
  display: flex;
  align-items: center;
}

.legend-text {
  margin-left: 5px;
}
